<span style="font-weight:bold"><label for="engraving"> Free engraving</label></span>
      <span class="line-item-property__field">
        <input style="text-transform: uppercase;" id="engraving" type="text" name="properties[Engraving]" size="34" onfocus="this.value=''" value="" maxlength="34">
      </span>
      <ul><li>4x4 - 20 characters max</li>
          <li>4x4.565 - 30 characters max</li>
          <li>6.6x6.6 - 34 characters max</li>
      </ul>
      *Please allow 2 weeks for engraving delivery. Uppercase text only.<p>