<h4 align="center">What is the difference between Firecrest Standard, Firecrest Pro, and Firecrest Ultra?</h4>
<style><!--
table.unstyledTable {
	width: 100%;
	text-align: center;
}
table.unstyledTable td, table.unstyledTable th {
}
table.unstyledTable tr:nth-child(even) {
	background: #D0E4F5;
}
table.unstyledTable thead {
	background: #000000;
}
table.unstyledTable thead th {
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
}
table.unstyledTable tfoot td {
}
--></style>
<table class="unstyledTable">
<thead>
<tr>
<th style="background-color: white;"></th>
<th>Firecrest ND</th>
<th>Firecrest Pro</th>
<th>Firecrest Ultra</th>
</tr>
</thead>
<tbody>
<tr>
<td style="color: white; background-color: black;">Rare Earth IRND Coating</td>
<td>✓</td>
<td>✓</td>
<td>✓</td>
</tr>
<tr>
<td style="color: white; background-color: black;">Scratch Resistant</td>
<td>✓</td>
<td>✓</td>
<td>✓</td>
</tr>
<tr>
<td style="color: white; background-color: black;">Hydrophobic</td>
<td>✓</td>
<td>✓</td>
<td>✓</td>
</tr>
<tr>
<td style="color: white; background-color: black;">Anti Reflective Edge Seal</td>
<td>❌</td>
<td>✓</td>
<td>✓</td>
</tr>
<tr>
<td style="color: white; background-color: black;">Precision Lap and Polish</td>
<td>❌</td>
<td>❌</td>
<td>✓</td>
</tr>
</tbody>
</table><p>
</p><div align="center"><a class="btn" href="https://formatt-hitechusa.com/blogs/learn/firecrest-multicoating-filter-technology">Learn More about Firecrest</a></div>